<% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <h2>
        <strong><%= link_to movie.title, movie_path(movie) %></strong> || <small>Released: <%= movie.release_date%></small><br>
      </h2>
      <h3>
        <%= movie.directed_by %>
      </h3>
      <p>
        <%= truncate(movie.overview, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>

<section class="admin">
  <%= link_to "Add movie", new_movie_path, class: "button" %>
</section>